.mouse {
  position: relative;
  top: 22px;
  left: -78px;
  fill: white;
}

.item {
  @apply pb-5;
}

.item+.item {
  @apply border-t py-5;
}

.details {
  overflow: hidden;
}

.details[data-state='open'] {
  animation: slideDown 150ms ease-out;
}

.details[data-state='closed'] {
  animation: slideUp 100ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }

  to {
    height: 0;
  }
}
