.folder {
  composes: item from '../Menu.module.css';
  cursor: default;
  font-weight: 500;
  position: relative;
  height: 19px;
}

.popup {
  composes: popup from '../Popup.module.css';
}

.folderIcon {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-left: 1px;
}

.folderHorizontal {
  .folderIcon {
    margin-right: 4px;
  }
}

.folderIconOnly {
  margin-left: 2px;
  margin-right: 2px;
}

.folderHorizontal {
  .folderIcon.folderIconOnly {
    margin-right: 2px;
  }
}
