.folder {
  composes: item from './Menu.module.css';
  cursor: default;
  font-weight: 500;
  position: relative;
  height: 20px;
}

.popup {
  composes: popup from '../Popup.module.css';
}

.folderTransition {
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.folderIcon {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-left: 1px;
}

.folderHorizontal {
  padding: 4px 6px;

  .folderIcon {
    margin-right: 4px;
  }
}

.folderIconOnly {
  .folderIcon {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.folderHorizontal.folderIconOnly {
  padding: 4px;
}
