.list {
  list-style: none;
  margin: 0;
  padding: 0;

  >li {
    border-radius: 4px;
    transition: ease-out 0.15s background;

    &:hover {
      background: hsl(var(--sc-bg-color-h),
          var(--sc-bg-color-s),
          calc(var(--sc-bg-color-l) - 6%));
    }

    &:hover:has(:disabled):not(:has(.folder)) {
      background-color: var(--sc-bg-color);
    }
  }

  >li+li {
    margin-top: 2px;
  }
}

.menuHorizontal {
  .list {
    display: flex;
    flex-direction: row;

    >li+li {
      margin-top: 0;
      margin-left: 2px;
    }
  }
}

.item {
  padding: var(--sc-padding) calc(var(--sc-padding) * 2) var(--sc-padding) calc(var(--sc-padding) * 1.5);
  display: flex;
  align-items: center;
  font-size: var(--sc-font-size);
  height: max(var(--sc-font-size), var(--sc-image-size));
  box-sizing: content-box;
  color: rgb(75 85 99);
  line-height: 1;
  text-decoration: none;
  text-wrap: nowrap;
  white-space: pre;
  font-family: var(--font-family);

  &:hover {
    color: rgb(3 7 18);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.itemImg {
  width: var(--sc-image-size);
  height: var(--sc-image-size);
}

.itemOnlyIcon {
  padding-right: var(--sc-padding);

  .itemTitle {
    display: none;
  }
}

.itemTitle {
  margin-left: 0.6em;
  margin-right: 0.4em;
}

.itemHorizontal {
  padding-left: var(--sc-padding);

  .itemTitle {
    margin-left: 0.3em;
    margin-right: 0;
  }
}

.moreButton {
  position: relative;
  height: 100%;
}

.apiIconLoading {
  fill: #666;
  cursor: wait;
}

.apiIconSuccess {
  fill: var(--blue-500);
}

.apiIconError {
  fill: rgb(220 38 38);
}

.iconWithState {
  background: #fff;
  padding: var(--sc-padding);
  border-radius: 6px;
  line-height: 1;
}
