.menuVertical {
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.item {
  display: flex;
  align-items: center;
  padding: var(--sc-padding) calc(var(--sc-padding) * 2) var(--sc-padding) calc(var(--sc-padding) * 1.5);
  height: calc(max(var(--sc-font-size), var(--sc-image-size, 16px)) + var(--sc-padding) * 2);
  box-sizing: border-box;
  width: 100%;
  white-space: pre;
  line-height: 1;
  text-decoration: none;
  text-wrap: nowrap;
  font-size: var(--sc-font-size);
  font-family: var(--font-family);
  transition: ease-out 0.15s background;

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.itemImg {
  width: var(--sc-image-size, 16px);
  height: var(--sc-image-size, 16px);
}

.itemTitle {
  margin-left: calc(0.4em + var(--sc-padding) / 2);
  margin-right: calc(0.4em + var(--sc-padding) / 2);
  text-align: left;
}

.itemHorizontal {
  padding-left: var(--sc-padding);
  padding-right: var(--sc-padding);
  width: auto;

  .itemTitle {
    margin-left: 0.3em;
    margin-right: 0;
  }
}

.moreButton {
  position: relative;
  height: 100%;
}

.apiIconLoading {
  fill: #666;
  cursor: wait;
}

.apiIconSuccess {
  fill: var(--blue-500);
}

.apiIconError {
  fill: rgb(220 38 38);
}

.iconWithState {
  background: #fff;
  padding: var(--sc-padding);
  border-radius: 6px;
  line-height: 1;
}
