.CollapsibleContent {
  overflow: hidden;
}

.CollapsibleContent[data-state='open'] {
  animation: slideDown 150ms ease-out;
}

.CollapsibleContent[data-state='closed'] {
  animation: slideUp 100ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }

  to {
    height: 0;
  }
}

.collapse[data-state='open'] .iconUpDown {
  display: none;
}

.collapse[data-state='closed'] .iconDownUp {
  display: none;
}

.triangle {
  position: relative;
}

.triangle:after {
  content: '';
  position: absolute;
  top: 55%;
  right: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 10px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 20px solid #e7e5e4;
  border-right: 0;
}
