.dialog {
  color: var(--font-color);
  background: #fff;
  padding: 30px 40px;
  font-family: var(--font-family);
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1.1rem;
  white-space: pre-wrap;

  pre {
    display: inline;
    background: #eee;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 0.9em;
  }
}

.button,
.buttonCancel {
  composes: button from '../Common.module.css';
  padding: 6px 8px 6px;
  line-height: 1.2;
  border-radius: 6px;
  font-family: var(--font-family);
  font-size: 1rem;
}

.dialog .button,
.dialog .buttonCancel {
  padding: 5px 8px 6px;
}

.dialog .buttonCancel {
  margin-left: 8px;
}

.dialog .button {
  color: #fff;
  background-color: #1597c9;
  border-color: #1597c9;

  &:hover {
    background-color: #0f7ea9;
    border-color: #0f7ea9;
  }
}
