:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-color: #333;
  --menu-top: 150px;
}

:global body {
  margin: 0;
}

.titleHeader {
  @apply flex items-center font-mono absolute top-0 px-4 py-1.5 z-50 w-full border-b gap-4;
  @apply bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/40;
}

.title {
  @apply tracking-tight text-gray-700;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}

.titleSpan+.titleSpan {
  margin-left: 4px;
}

.version {
  @apply mt-0.5 text-gray-500;
  font-size: 0.8rem;
}

.menuContainer {
  position: fixed;
  top: var(--menu-top);
  left: calc(50% - 550px);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.menuLabel {
  @apply font-mono;
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 16px;
}

.menuLabel2 {
  @apply font-mono;
  margin: 8px;
}

.menuButton {
  @apply font-mono flex items-center;
  border: none;
  background: none;
  font-size: 0.9rem;
  padding: 6px 8px;
  border-radius: 4px;
  color: #444;
  transition:
    background-color,
    ease-out 0.2s,
    scale ease-out 0.2s;
  cursor: pointer;

  &:hover {
    @apply bg-gray-200;
    @apply scale-[110%];
  }
}

.buttonImport {
  composes: button from '../Common.module.css';

  width: 100%;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.editorFrame {
  width: 100%;
  flex: 1;
  border: none;
}
