:root {
  --butotn-height: 30px;
  --button-radius: 10px;
  --font-color: #333;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --bgColor: #f5f5f5;
}

:global .form-group {
  display: flex;
  margin-bottom: 8px;
}

:global .row {
  padding: 10px 0 10px 10px;
  margin: auto;
}

:global .col-xs-9 {
  display: inline-block;
  width: 100%;
}

:global .col-xs-3 {
  display: inline-block;
  margin-left: 12px;
}

:global .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  flex-direction: column;
  height: calc(var(--butotn-height) * 3);
}

:global .array-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

:global .commandItem>fieldset>legend,
:global .variableItem>fieldset>legend,
:global .folderItem>fieldset>legend,
:global .pageRuleItem>fieldset>legend {
  display: none;
}

:global .linkCommandEnabled>.control-label,
:global .linkCommandOpenMode>.control-label {
  margin-top: 6px;
}

:global .linkCommandThreshold {
  position: relative;
}

:global .linkCommandThreshold>.control-label {
  position: relative;
  top: -2px;
}

:global .linkCommandThreshold>.field-description {
  position: absolute;
  top: 12px;
  font-size: 11px;
}

:global .linkCommandEnabled label:nth-of-type(2),
:global .linkCommandOpenMode label:nth-of-type(2),
:global .linkCommandThreshold label:nth-of-type(2) {
  margin-left: -6px;
}

:global .linkCommandEnabled select,
:global .linkCommandOpenMode select {
  height: 38px;
}

:global .linkCommandThreshold input[type='number'] {
  height: 36px;
}

:global .linkCommandOpenMode,
:global .linkCommandThreshold,
:global .linkCommandShowIndicator {
  margin-top: 10px;
}

:global .array-item>.col-xs-9>.form-group {
  border: solid 1px rgb(209 213 219);
  padding: 12px 14px 12px 20px;
  border-radius: 4px;

  :global .form-control {
    border: none;
    border-radius: 0px;
    outline: none;
    padding: 6px 12px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

:global fieldset>.form-group {
  margin-bottom: 0;
}

:global .control-label {
  flex: 1.1;
  font-size: 1.1em;
  line-height: 2.2;
  white-space: pre;
}

:global .popupPlacement .control-label,
:global .style .control-label {
  line-height: 2.6;
}

:global .has-description .title {
  margin: 6px 0 0 0;
  line-height: 1.1;
}

:global .has-description .desc {
  margin: 0;
  font-size: 11px;
  line-height: 1.8;
}

:global .form-control {
  flex: 2;
  font-size: 0.9rem;
  border: solid 1px rgb(209 213 219);
  padding: 8px 14px;
  border-radius: 4px;
  background: var(--bgColor);
  color: var(--font-color);
  font-family: var(--font-family);
}

:global select.form-control {
  cursor: pointer;
}

:global .required {
  color: rgb(239 68 68);
  margin-left: 2px;
}

:global #root__title {
  display: none;
}

:global #root>.form-group {
  padding: 20px;
}

:global #root>.form-group+.form-group {
  border-top: 1px solid #d1d5db;
}

:global .array-item-list+button {
  margin: 0 auto;
}

/* hidden submit button */
:global button[type='submit'] {
  display: none;
}

:global .hidden {
  display: none;
}

:global legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 21px;
  line-height: inherit;
  border: 0;
}

:global fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  color: var(--font-color);
}

:global label {
  display: inline-block;
  max-width: 100%;
  font-family: var(--font-family);
}

:global .variables {
  margin-top: 6px;
}

:global .variables .row {
  padding: 5px 0 5px 0;
}

:global .variables>fieldset>legend {
  font-size: 1rem;
}

:global .field-description {
  font-size: 1.2em;
  color: var(--font-color);
  margin: 10px 0;
  white-space: pre-wrap;
}

:global .checkbox {
  display: flex;
}

:global .checkbox>input {
  margin: 0;
}

:global .commandItem>fieldset>.form-group {
  position: relative;
}

:global .startupMethodParam {
  margin-top: 10px;
}

.form {
  width: 600px;
  margin: 0 auto;
}

.button,
.buttonItems {
  composes: button from '../Common.module.css';
}

.button {
  width: 74px;
  height: 34px;
  border-radius: var(--button-radius);
  display: flex;
  justify-content: center;
  align-items: center;

  >svg {
    width: 20px;
    height: 20px;
  }

  >span {
    margin-left: 0.2em;
    margin-right: 4px;
    margin-bottom: -2px;
  }
}

.buttonItems {
  padding: 6px;
  width: 36px;
  height: var(--butotn-height);

  &+& {
    border-top: none;
  }

  &:first-child {
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--button-radius);
    border-bottom-right-radius: var(--button-radius);
  }

  &[disabled] {
    cursor: not-allowed;

    &:hover {
      background-color: var(--bgColor);
    }

    svg {
      fill: #bbb;
    }
  }

  &.buttonItemsDanger {
    svg {
      fill: rgb(251 113 133);
    }

    &:hover svg {
      fill: rgb(225 29 72);
    }
  }
}

.iconUrl {
  display: flex;
  align-items: center;
}

.iconUrlInput {
  flex: 1;
  background: inherit;
  border: inherit;
  outline: inherit;
  font-family: inherit;
  padding: 0 0 0 0.5em;
}

.iconUrlPreview {
  width: 1.2em;
  height: 1.2em;
}

.iconUrl .iconUrlPreview {
  margin-bottom: -3px;
}

.selectContainer {
  display: flex;
  align-items: center;
  padding: 0px 12px 0 6px !important;
  margin-left: -3px;
}

.selectContainer .iconUrlPreview {
  padding-left: 6px;
}

.select {
  flex: 1;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--font-color);

  option {
    font-size: 1.1em;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.number {
  flex: 1;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: text;
  color: var(--font-color);

  option {
    font-size: 1.1em;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.iconUrlPreview+.select {
  padding-left: 0.3em;
}

.fetchOptionInput {
  width: 100%;
  background-color: var(--bgColor);
  border: none;
  outline: none;
  resize: vertical;
  font-family: var(--font-monospace);
}

.iconUrlAutoFill {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 6px;
  padding: 2px 6px;
  min-height: 26px;
  min-width: 40px;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1em;
  border: solid 1px rgb(209 213 219);
  transition: background-color ease-out 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  svg {
    fill: #555;
  }

  &:disabled {
    background-color: #e5e5e5;
    cursor: not-allowed;
  }
}

.iconUrlAutoFillLoading {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
