.icon {
  @apply stroke-gray-600;
}

.pageActionStart > div,
.pageActionEnd > div {
  @apply w-14 h-14 rounded-full bg-red-200 text-center;
}

.pageActionStart > div > p + p,
.pageActionEnd > div > p + p {
  @apply hidden;
}

.triangle {
  position: relative;
}

.triangle:not(.pageActionEnd):after {
  content: "";
  position: absolute;
  height: 24px;
  top: 14px;
  right: -12px;
  aspect-ratio: cos(70deg);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  @apply bg-gradient-to-r from-cyan-500 to-blue-400;
}
