.fade-enter {
  animation: 0.2s fade forwards;
}
.fade-exit {
  animation: 0.1s fade forwards;
  animation-direction: reverse;
}
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.drop-in-enter {
  animation: 0.4s drop-in forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.drop-in-exit {
  animation: 0.3s drop-in forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  animation-direction: reverse;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.pop-up-from {
  transform: translateY(5px);
  opacity: 0;
}

.pop-up-to,
.pop-down-to {
  transform: translateY(0px);
  opacity: 1;
}

.pop-down-from {
  transform: translateY(-5px);
  opacity: 0;
}
