.container {
  position: relative;
  display: inline-block;
  transform: rotate(-90deg);
}

.circle {
  fill: none;
}

.progress {
  fill: none;
}

.complete {
  animation: fade 1s ease-in-out infinite;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  font-weight: bold;
}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
