@import url('Animation.css');

:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-color: rgb(31 41 55);
}

.titleHeader {
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
}

.version {
  font-size: 1rem;
  line-height: 24px;
}

.title {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 2.2rem;
  margin: 0;
}

.option {
  width: 600px;
  margin: 20px auto;
  color: var(--font-color);
}

.textarea {
  width: 100%;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 16px;
}

.menu {
  padding: 2px;
}

.button {
  composes: button from 'Common.module.css';
  padding: 6px 8px 6px;
  line-height: 1.2;
  border-radius: 6px;
  font-family: var(--font-family);
}

.button + .button {
  margin-left: 8px;
}

.buttonImport {
  width: calc(100% - 15px);
}

.editorFrame {
  width: 100%;
  border: none;
}
