.popup {
  composes: shadow-xl from './Common.module.css';
  background-color: var(--baseBgColor);
  border-radius: 6px;
  border: solid 1px var(--baseBorderColor);
  font-family: var(--font-family);
}

.popupTransition {
  transition-delay: var(--popup-delay, 250ms);
  transition-duration: var(--popup-duration, 100ms);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

div[data-placement='right'] > .popup {
  transform: translateX(-5px);
}

div[data-placement='left'] > .popup {
  transform: translateX(5px);
}

div[data-closed] > .popup {
  opacity: 0;
  transform: translateY(5px);
}

div[data-closed][data-placement='bottom'] > .popup {
  transform: translateY(-5px);
}

div[data-closed][data-placement='right'] > .popup {
  transform: translateX(-10px);
}

div[data-closed][data-placement='left'] > .popup {
  transform: translateX(10px);
}

/* To display the popup at the top of html, add maximum value of z-index. */
.popupContianer {
  position: absolute;
  z-index: 2147483647;
  width: 100%;
}
