.popup {
  background-color: var(--sc-bg-color);
  border: solid 1px var(--sc-bd-color);
  font-family: var(--font-family);
  animation-delay: var(--sc-delay);
  animation-duration: var(--sc-duration) !important;

  /* CSS variable interface */
  --sc-bg-color: var(--sc-background-color, #ffffff);
  --sc-bg-color-h: var(--sc-background-color-h, 0deg);
  --sc-bg-color-s: var(--sc-background-color-s, 0%);
  --sc-bg-color-l: var(--sc-background-color-l, 100%);
  --sc-bd-color: var(--sc-border-color, var(--gray-100));
  --sc-font-size: calc(var(--sc-font-scale, 1) * 12px);
  --sc-image-size: calc(var(--sc-image-scale, 1) * 16px);
  --sc-padding: calc(var(--sc-padding-scale, 1) * 4px);
  --sc-delay: calc(var(--sc-popup-delay, 250) * 1ms);
  --sc-duration: calc(var(--sc-popup-duration, 150) * 1ms);
}

.popupInEnter {
  visibility: hidden;
}

.previewContainer {
  position: relative;

  &>div {
    transform: translate(0, 0) !important;
  }
}

.previewLabel {
  font-family: var(--font-monospace);
  font-size: 1.2rem;
  color: #444;
  margin: 0 0 16px 4px;
}

.previewDescription {
  position: absolute;
  width: 200px;
  font-size: 0.8rem;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
