.popup {
  @apply rounded-md;
  background-color: var(--sc-bg-color);
  border: solid 1px var(--sc-bd-color);
  font-family: var(--font-family);

  /* CSS variable interface */
  --sc-bg-color: var(--sc-background-color, #ffffff);
  --sc-bg-color-h: var(--sc-background-color-h, 0deg);
  --sc-bg-color-s: var(--sc-background-color-s, 0%);
  --sc-bg-color-l: var(--sc-background-color-l, 100%);
  --sc-bd-color: var(--sc-border-color, var(--gray-100));
  --sc-font-size: calc(var(--sc-font-scale, 1) * 12px);
  --sc-image-size: calc(var(--sc-image-scale, 1) * 16px);
  --sc-padding: calc(var(--sc-padding-scale, 1) * 4px);
  --sc-delay: calc(var(--sc-popup-delay, 250) * 1ms);
  --sc-duration: calc(var(--sc-popup-duration, 100) * 1ms);
}

.popupTransition {
  transition-delay: var(--sc-delay);
  transition-duration: var(--sc-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

div[data-closed]>.popup {
  opacity: 0;
  transform: translateY(5px);
}

div[data-closed][data-placement='bottom']>.popup {
  transform: translateY(-5px);
}

div[data-closed][data-placement='right']>.popup {
  transform: translateX(-10px);
}

div[data-closed][data-placement='left']>.popup {
  transform: translateX(10px);
}

/* To display the popup at the top of html, add maximum value of z-index. */
.popupContianer {
  position: absolute;
  z-index: 2147483647;
  width: 100%;
}

.previewContainer {
  position: relative;

  &>div {
    transform: translate(0, 0) !important;
  }
}

.previewLabel {
  font-family: var(--font-monospace);
  font-size: 1.2rem;
  color: #444;
  margin: 0 0 16px 4px;
}

.previewDescription {
  position: absolute;
  width: 200px;
  font-size: 0.8rem;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
