.tooltip {
  position: absolute;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background: var(--gray-800);
  font-weight: 400;
  color: #fff;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 12px;
  white-space: pre;
  min-width: 15px;
  z-index: 0;
}

.tooltip[data-closed] {
  opacity: 0;
  transform: translateY(5px);
}

.tooltip[data-closed][data-placement='bottom'] {
  opacity: 0;
  transform: translateY(-5px);
}

.tooltip[data-enter] {
  transition-duration: 75;
  transition-delay: 350ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.tooltip[data-leave] {
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.tooltip[data-placement='top'] {
  top: -28px;
}

.tooltip[data-placement='bottom'] {
  top: 36px;
}

.tooltipTrigger {
  padding: 0;
  background: none;
}

.tooltip[data-closed] {
  opacity: 0;
  transform: translateY(5px);
}

.tooltip[data-closed][data-placement='bottom'] {
  opacity: 0;
  transform: translateY(-5px);
}

.tooltip[data-enter] {
  transition-duration: 75;
  transition-delay: 350ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.tooltip[data-leave] {
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.tooltip[data-placement='top'] {
  top: -28px;
}

.tooltip[data-placement='bottom'] {
  top: 36px;
}

.tooltipTrigger {
  padding: 0;
  background: none;
}

.arrow {
  position: absolute;
  z-index: -1;
}

.arrow:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  background: var(--gray-800);
}

.tooltip[data-placement^='top']>.arrow {
  bottom: 8px;
}

.tooltip[data-placement^='bottom']>.arrow {
  top: -3px;
}
