.resultPopup {
  padding: 10px;
  font-size: 14px;
  color: var(--gray-600);
  font-family: var(--font-family);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.resultPopupButton {
  --icon-size: 14px;
  --padding: 4px;

  cursor: pointer;
  transition:
    color,
    fill,
    background ease-out 0.2s;
  border: none;
  border-radius: 6px;
  background: transparent;
  width: calc(var(--icon-size) + var(--padding) * 2);
  height: calc(var(--icon-size) + var(--padding) * 2);
  padding: var(--padding);
  font-size: 10px;
  color: var(--gray-400);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--gray-400);
    fill: var(--gray-400);
  }

  &:hover {
    color: var(--gray-600);
    background: var(--gray-100);

    svg {
      color: var(--gray-600);
      fill: var(--gray-600);
    }

    svg.buttonSuccess {
      fill: var(--blue-500);
    }
  }
}

.closeButton {
  position: absolute;
  top: 6px;
  right: 4px;
}

.resultTableContainer {
  position: relative;
  padding-right: 10px;
}

.resultTable {
  table-layout: auto;
}

.resultTableHeader {
  color: var(--gray-800);

  th {
    padding: 0 0 6px;
    font-weight: 500;
  }
}

.resultTableBody {
  font-size: 13px;

  td {
    padding: 0;
  }
}

td.resultTableProperty {
  padding-right: 10px;
  color: var(--gray-500);
}

.resultTableValue {
  font-family: var(--font-monospace);
  color: var(--gray-800);
  font-weight: 600;
}

.resultTableCopy {
  position: absolute;
  top: -5px;
  right: 16px;
}
